@media (min-width: 1025px) {
    /* Mobile Menu Element Hiding */
     .hamburger, nav, nav.is-active {
         display: none;
    }
    /* ------------------------------- */
     .main-header {
         align-items: start;
         justify-content: center;
         border-bottom: none;
         height: 100%;
         padding: 23px 0 0;
         width: 81px;
         box-sizing: border-box;
         z-index: 1;
         position: relative;
    }
     .logo {
         height: 33px;
         width: 33px;
         margin: auto;
         position: relative;
    }
     .logo img {
         height: 100%;
         width: 100%;
    }
     .home-prompt {
         position: absolute;
         top: 0;
         left: 0;
         width: 80px;
         height: 100%;
         cursor: pointer;
    }
     .home-button {
         position: absolute;
         bottom: 15px;
         left: 23.5px;
         display: block;
         z-index: 3;
    }
     .home-button a {
         position: relative;
    }
     main {
         position: absolute;
         top: 0;
         left: 80px;
         bottom: 0;
         right: 0;
         overflow: hidden;
    }
     .marquee {
         width: 100vh;
         background-color: white;
         height: 85px;
         overflow: hidden;
         transform: rotateZ(-90deg);
         transform-origin: bottom left;
         position: absolute;
         left: 85px;
         bottom: 0px;
    }
     .letters {
         list-style: none;
         margin: 0px;
         padding: 0px;
    }
     .home-grid {
         height: 100vh;
         width: 100%;
         display: grid;
         grid-template-columns: repeat(14, 1fr);
         grid-template-rows: repeat(12, 1fr);
         overflow: hidden;
    }
     .title {
         grid-column: 3/7;
         grid-row: 1/5;
         display: grid;
         grid-template-columns: repeat(1,1fr);
         grid-template-rows: repeat(9,1fr);
    }
     .title .heading {
         grid-column: 1/1;
         grid-row: 3/5;
         font-family: Raleway;
         font-weight: 800;
         font-size: 70px;
         letter-spacing: 5px;
         margin: 0px;
    }
     .title .sub-heading-1 {
         grid-column: 1/1;
         grid-row: 6/7;
         font-family: Raleway;
         font-weight: 500;
         font-size: 20px;
         margin: 0px;
    }
     .title .sub-heading-2 {
         grid-column: 1/1;
         grid-row: 7/8;
         font-family: Raleway;
         font-weight: 700;
         font-size: 20px;
         margin: 0px;
    }
     .title .sub-heading-3 {
         grid-column: 1/1;
         grid-row: 8/9;
         font-family: Raleway;
         font-weight: 500;
         font-size: 20px;
         margin: 0px;
    }
     .blurb {
         grid-column: 3/10;
         grid-row: 5/8;
    }
     .blurb p {
         font-family: Raleway;
         font-weight: 700;
         font-size: 16px;
         max-width: 45ch;
    }
    .app-icon {
        grid-column: 10/14;
         grid-row: 5/8;
         padding-bottom: 5vh;
    }
    .app-icon img {
      object-fit: contain;
      height: 100%;
      width: 100%;
    }
    .app-icon-text {
        grid-column: 9/15;
         grid-row: 7/9;
         display: flex;
         justify-content: center;
         align-items: center;
    }
    .app-icon-text p{
        color: white;
        text-align: center;
        font-size: 16px;
        
    }
     .download-arrow {
         grid-column: 7/10;
         grid-row: 8/11;
         display: grid;
         justify-content: center;
         align-items: center;
         z-index: 10;
    }
     .download-arrow svg {
         color: white;
         height: 30px;
         width: 30px;
    }
     .download-text {
         grid-column: 7/10;
         grid-row: 8/11;
         position: relative;
         animation: spinText 10s linear infinite;
    }
     @keyframes spinText {
         0% {
             transform: rotate(0deg);
        }
        100% {
             transform: rotate(360deg);
        }
    }
     .download-text span {
         position: absolute;
         top: 21%;
         left: 50%;
         font-size: 13px;
         transform-origin: 0 50px;
         font-family: Raleway;
         font-weight: 500;
    }
    .ios-download {
        grid-column: 5/8;
        grid-row: 11/12;
   }
   .ios-download a img {
    object-fit: contain;
    height: 100%;
    width: 100%;
   }
   .android-download a img {
    object-fit: contain;
    height: 100%;
    width: 100%;
   }
    .android-download {
        grid-column: 9/12;
        grid-row: 11/12;
   }
     .copyright-text {
         grid-column: 5/15;
         grid-row: 12/13;
         display: flex;
         flex-direction: column;
         justify-content: flex-end;
         align-items: flex-end;
    }
     .copyright-text p {
         padding-right: 15px;
         padding-bottom: 10px;
         font-family: Raleway;
         font-weight: 400;
         font-size: 14px;
    }
    /* Code for the Text Ring */
     @-webkit-keyframes opacity{
         0%{
             opacity:0 
        }
         to{
             opacity:1 
        }
    }
     @keyframes opacity{
         0%{
             opacity:0 
        }
         to{
             opacity:1 
        }
    }
     .text-ring{
         position:relative;
         display:flex;
         grid-column: 10 / 13;
         grid-row: 2 / 4;
         justify-content:center;
         align-items:center;
         width:100%;
         opacity:0;
         margin-top:-100px;
         -webkit-animation:opacity 2s ease-in forwards,descend 1s ease-out forwards;
         animation:opacity 2s ease-in forwards,descend 1s ease-out forwards;
         -webkit-animation-delay:2s;
         animation-delay:1s;
         font-family:Inter,sans-serif;
    }
     @-webkit-keyframes descend{
         to{
             margin-top:0 
        }
    }
     @keyframes descend{
         to{
             margin-top:0 
        }
    }
     .circle{
         transform-style:preserve-3d;
         -webkit-animation:animate 8s linear infinite;
         animation:animate 8s linear infinite;
         font-family:Inter,sans-serif;
    }
     @-webkit-keyframes animate{
         0%{
             transform:rotateY(1turn) rotateX(20deg) 
        }
         to{
             transform:rotateY(0deg) rotateX(20deg) 
        }
    }
     @keyframes animate{
         0%{
             transform:rotateY(1turn) rotateX(20deg) 
        }
         to{
             transform:rotateY(0deg) rotateX(20deg) 
        }
    }
     .circle .char{
         position:absolute;
         top:0;
         left:0;
         color:white;
         font-size:22px;
         padding:5px 12px;
         transform-style:preserve-3d;
         transform-origin:center;
         transform:rotateY(calc(var(--char-index)*12deg)) translateZ(175px);
         font-family:Inter,sans-serif;
    }
     @-webkit-keyframes opacity{
         to{
             opacity:1 
        }
    }
     @keyframes opacity{
         to{
             opacity:1 
        }
    }
     section {
         position: absolute;
         display: flex;
         left: 0;
         top: 0;
         min-height: 100%;
         width: calc(100vw - 6 * 80px);
         padding-top: 0;
         transform: translateX(100%);
         background: #000;
    }
     #first {
         left: calc(80px * 1);
    }
     #second {
         left: calc(80px * 2);
    }
     #third {
         left: calc(80px * 3);
    }
     #fourth {
         left: calc(80px * 4);
    }
     #fifth {
         left: calc(80px * 5);
    }
     section:first-child {
         border-left: none;
    }
     .section-header {
         position: absolute;
         top: 0;
         left: -80px;
         display: block;
         height: 100vh;
         width: 80px;
         cursor: pointer;
         box-sizing: border-box;
         background: #000;
         border-left: 1px solid #ffffff;
    }
     .section-header .title {
         transform: rotate(180deg);
         position: absolute;
         bottom: 35px;
         left: calc(50% - 10px);
         writing-mode: vertical-rl;
         text-orientation: mixed;
    }
     .section-header .number {
         position: absolute;
         top: 35px;
         left: 0;
         right: 0;
         text-align: center;
    }
     .container {
         width: 100%;
         display: flex;
         overflow: auto;
         height: 100vh;
         opacity: 0;
         transition: 0.5s opacity;
    }
     section.active .container {
         opacity: 1;
    }
     section .animation {
         align-items: center;
         border-bottom: 0;
         display: flex;
         flex: 1;
         max-width: 50%;
         justify-content: center;
         padding-right: 80px;
    }
     section .content {
         border-left: 1px solid #ffffff;
         display: flex;
         flex-direction: column;
         flex: 1;
         overflow-x: hidden;
         overflow-y: scroll;
    }
     section .introduction {
         padding: 55% 55px 75px;
    }
     section .section-body {
         border-top: 1px solid #ffffff;
         display: flex;
         align-items: start;
         flex-grow: 1;
    }
     section .section-body-copy {
         border-left: 1px solid #ffffff;
         flex: 2;
         padding: 80px 55px;
         min-height: 100%;
    }
     #first .section-body, #fourth .section-body {
         flex-direction: row-reverse;
    }
     #first .section-body-copy, #fourth .section-body-copy {
         border-left: none;
         border-right: 1px solid #ffffff;
    }
     section .section-body-copy p {
         position: relative;
         padding-left: 20px;
         padding-bottom: 2vh;
    }
     section .section-body-copy p:before {
         background-color: #ffffff;
         border-radius: 8px;
         content: '';
         left: 4px;
         position: absolute;
         top: 14px;
         padding: 4px;
         margin: -4px;
    }
     section:not(.home) .animation {
         padding-right: 80px;
    }
     #fifth .animation {
         padding: 0;
    }
     section:not(.home) .animation svg {
         width: 100%;
         height: auto;
         max-width: 60vh;
    }
     #fourth .animation svg {
         width: 90%;
         max-width: 40vh;
    }
     #fifth .animation {
         width: 100%;
    }
     #fifth .animation svg {
         max-width: none;
    }
     .home {
         transform: none;
         width: calc(100vw - 6 * 80px);
    }
     .home .container {
         flex-direction: column;
    }
     .home .animation {
         align-items: center;
         align-content: center;
         border-bottom: none;
         display: flex;
         flex-wrap: wrap;
         justify-content: center;
         overflow: hidden;
         padding: 100px;
    }
     .home .animation svg path {
         transform-origin: center;
         opacity: 0;
    }
     #fifth .content {
         justify-content: flex-end;
    }
     .links a, .email a {
         line-height: 120px;
         position: relative;
    }
     #fifth .introduction p {
         width: 100%;
         display: flex;
         align-items: center;
         justify-content: center;
    }
     .email, .links {
         display: flex;
         align-items: center;
         justify-content: center;
         height: 120px;
    }
     .email {
         border-top: 1px solid #ffffff;
         border-bottom: 1px solid #ffffff;
    }
     .links a, .email a {
         line-height: 120px;
         display: flex;
         align-items: center;
         justify-content: center;
    }
     .links a:first-child {
         border-right: 1px solid #ffffff;
    }
     .links a {
         width: 50%;
    }
     .privacy, .terms {
         position: absolute;
         top: 0;
         left: 80px;
         height: 100%;
         width: calc(100% - 80px);
         padding-top: 6.5%;
         padding-left: 15%;
         padding-right: 15%;
         padding-bottom: 6.5%;
         overflow-x: hidden;
         overflow-y:auto;
         display:flex;
         flex-direction: column;
         align-items:center;
    }
     .info-title {
         font-size: 45px;
         font-weight: 900;
         margin-bottom: 40px;
    }
     .info-subtitle {
         font-size: 27.5px;
         font-weight: 900;
         margin-top: 35px;
         margin-bottom: 10px;
    }
     .info-content {
         width: 50ch;
    }
     .info-content a {
         text-decoration: underline;
    }
     .terms-list li{
         margin-top: 11px;
         margin-bottom: 11px;
         width: 45ch;
    }
}