@font-face {
    font-family: 'GT Cinetype';
    src: url('../fonts/GT-Cinetype-Bold.woff') format('woff'),
        url('../fonts/GT-Cinetype-Bold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family: 'GT Cinetype';
    src: url('../fonts/GT-Cinetype-Regular.woff') format('woff'),
        url('../fonts/GT-Cinetype-Regular.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family: 'Old Standard TT';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/oldstandardtt/v17/MwQrbh3o1vLImiwAVvYawgcf2eVWEX-tRlZfTc4PlJz5.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

body {
    font-size: 14px;
    font-family: 'GT Cinetype';
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
}

p {
    font-size: 14px;
    line-height: 24px;
}

button {
    font-size: 12px;
}

nav button {
    font-size: 16px;
}

.home-button {
    font-size: 12px;
    font-family: 'Old Standard TT';
    font-size: clamp(50px, 10vw, 57px);
}

.introduction p {
    font-size: 20px;
    line-height: 30px;
}

.point,
.links {
    font-size: 16px;
}

@media (min-width: 1025px) {
    body {
        font-size: 16px;
    }

    p {
        font-size: 16px;
    }

    section {
        font-size: 12px;
    }

    .section-header {
        font-size: 14px;
    }

    .section-header .number {
        font-weight: bold;
    }

    #fifth .introduction p {
        font-size: 35px;
        font-weight: 600;
    }

    .point-header {
        font-size: 24px;
    }

    .email {
        font-size: 24px;
    }

    .links {
        font-size: 20px;
    }

    .point-number,
    .point-title {
        font-size: 24px;
    }

    .point-content li {
        font-size: 16px;
        line-height: 19px;
    }
}